/* Common Styles */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    width: 90%;
    margin: 0 auto;
}
span {
    color: #fdc52c; 
}
/* Nav Styles or Header Section Style */
header {
    background-color: #162f60;
}
.menu {
    display: flex;
}
.menu-item {
    display: flex;
    padding: 50px 0;
}
.left ul {
    display: flex;
}
.left ul li {
    margin-left: 30px;
}
.right {
    margin-left: 400px;
}
.right a {
    border: 1px solid #162f60;
    background-color: #142348;
    padding: 15px 40px;
}
.right a:hover {
    background-color: #142348;
    border: 1px solid #162f60;
    transition: 0.5s;
}
header ul li a {
    color: #fdc52c;
    font-size: 18px;
    font-weight: 500;
}
header ul li a:hover {
    color: #FFFFFF;
    transition: 0.5s;
}
/* Banner Section Style Starts */
.main-part {
    display: flex;
}
.banner {
    background-color: #162f60;
    padding: 50px 0;
}
.content {
    width: 100%;
}
.content h1 {
    font-size: 60px;
    color: #ffffff;
}
.banner-image {
    width: 100%;
}
.banner-image img {
    width: 80%;
    margin-left: 100px;
}
.banner-image img:hover {
    transform: scale(1.1);
    transition: 2s;
}
.banner button {
    color: #fdc52c;
    background-color: #171f42;
    padding: 18px 40px;
    border: 1px solid #162f60;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}
.banner button:hover {
    background-color: #142348;
    border: 1px solid #162f60;
    transition: 0.5s;
    color: #ffffff;
}
/* Banner Section Complete */
/* Player Section Starts */
.players {
    padding: 70px 0;
    background-color: aliceblue;
}
.player-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.player {
    border: 1px solid #ffffff;
    text-align: center;
    box-shadow: 5px 5px 15px rgb(214, 211, 211);
}
.player-image img {
    width: 80%;
    padding-top: 20px;
}
.player-image img:hover {
    transform: scale(1.1);
    transition: 1s;
}
.player-info {
    padding: 0 30px;
}
.player-info h3 {
    color: #122651;
    font-size: 25px;
    text-align: left;
}
.player-info p {
    font-size: 18px;
    color: #323941;
    text-align: left;
}
/* Player Section Ends */
/* Goal Section Styles */
.goal {
    background-color: #162f60;
    padding: 90px 0;
}
.goal-detail {
    display: flex;
}
.goal-detail h2 {
    font-size: 45px;
    color: #ffffff;
    margin-bottom: 50px;
    margin-top: 0;
}
.goal-detail p {
    color: #dacfcf;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 50px;
}
.goal-content button {
    color: #fdc52c;
    background-color: #171f42;
    padding: 18px 40px;
    border: 1px solid #162f60;
    font-size: 20px;
    font-weight: 500;
}
.goal-content button:hover {
    background-color: #142348;
    border: 1px solid #162f60;
    transition: 0.5s;
    color: #ffffff;
}
.goal-image img {
    width: 70%;
    margin-left: 150px;
    border: 1px solid #171f42;
    box-shadow: 5px 5px 15px #171f42;
}
.goal-image img:hover {
    transform: scale(0.9);
    transition: 2s;
}
/* Goal Section Ends */
/* Next Match Styles */
.next {
    padding: 150px 0;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.next h2 {
    color: #ffffff;
    text-align: center;
    font-size: 35px;
}
.time {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
}
.duration small {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 0;
}
.duration h3 {
    font-size: 30px;
    color: #ffffff;
    margin-top: 0;
}
/* Next Match Styles Ends */
/* Update Styles Starts */
.update {
    background-color: #11274e;
    padding: 100px 0;
}
.update h3 {
    color: #fdc52c;
    font-size: 35px;
    text-align: center;
}
.shadow {
    background-color: #111025;
    padding: 50px;
    border: 1px solid #11274e;
    border-radius: 6px;
}
.inputes {
    text-align: center;
}
.inputes input {
    padding: 20px 55px;
    background-color: #11152f;
    border: 1px solid #11274e;
    font-size: 25px; 
    border-radius: 4px;
}
.inputes .email {
    color: #757575;
    margin-right: 20px;
}
.inputes .subscribe {
    color: #fdc52c;
}
.inputes .subscribe:hover {
    background-color: #142348;
    border: 1px solid #162f60;
    transition: 0.5s;
    color: #ffffff;
}
/* Update Styles Ends */
/* Footer Section Styles */
.last {
    text-align: center;
    padding: 80px 0;
}
.footer-image img {
    width: 50%;
}
.social .fab {
    font-size: 25px;
    margin-left: 20px;
    margin-top: 50px;
    color: #ffffff;
    background-color: #12264d;
    padding: 15px 15px;
    border-radius: 50px;
    border: 1px solid #12264d;
}
.social .fab:hover {
    border: 1px solid #12264d;
    background-color: inherit;
    transition: 0.8s;
    color: #12264d;
}
.last p {
    color: #282529;
    margin-top: 25px;
}
/* Footer Section Styles Ends */
/* Media Query */
@media only screen and (max-width: 668px) {
    /* Banner Here */
    header {
        display: none;
    }
    .main-part {
        flex-direction: column;
    }
    .content {
        width: 100%;
    }
    .content h1 {
        font-size: 30px;
    }
    .banner {
        text-align: center;
    }
    .banner-image {
        width: 100%;
    }
    .banner-image img {
        width: 70%;
        margin-left: 0;
        margin-top: 25px;
    }
    .banner button {
        padding: 15px 35px;
        font-size: 16px;
        font-weight: 500;
        margin-top: 15px;
    }
    /* Player Here */
    .player-detail {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .player {
        width: 100%;
        padding: 0 10px;
    }
    .player-image {
        width: 100%;
    }
    .player-image img {
        width: 100%;
    }
    .player-info {
        padding: 0 0px;
    }
    /* Next Here */
    .next h2 {
        font-size: 25px;
    }
    .duration small {
        font-size: 16px;
    }
    /* Update Here */
    .update h3 {
        font-size: 25px;
    }
    .inputes .email {
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .inputes input {
        padding: 10px 20px;
    }
    .inputes .subscribe {
        padding: 10px 60px;
    }
}